<footer>
    <div class="content">
        <div class="company">
            <h3>about</h3>
            <ul>
                <li>about us</li>
                <li>feedback</li>
            </ul>
        </div>
        <div class="links">
            <h3>quick links</h3>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/view_more/trending">Trending</a></li>
                <li><a href="/view_more/movies">Movies</a></li>
                <li><a href="/view_more/tv_shows">Tv Shows</a></li>
                <li><a href="/view_more/kids">Kids</a></li>
                <li><a href="/view_more/coming">Coming</a></li>
            </ul>
        </div>
        <div class="social">
            <h3>get in touch</h3>
            <ul>
                <li><ion-icon name="logo-facebook"></li>
                <li><ion-icon name="logo-linkedin"></li>
                <li><ion-icon name="logo-github"></li>
            </ul>
        </div>
    </div>
</footer>
<div class="top"><ion-icon name="arrow-up"></ion-icon></div>
<script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/scripts/script.js"></script>