<footer>
    <div class="content">
        <div class="company">
            <h3>about</h3>
            <ul>
                <li>about us</li>
                <li>feedback</li>
            </ul>
        </div>
        <div class="links">
            <h3>quick links</h3>
            <ul>
                <li>Trending</li>
                <li>Movies</li>
                <li>Tv Shows</li>
                <li>Kids</li>
                <li>Coming</li>
            </ul>
        </div>
        <div class="social">
            <h3>get in touch</h3>
            <ul>
                <li><ion-icon name="logo-facebook"></li>
                <li><ion-icon name="logo-linkedin"></li>
                <li><ion-icon name="logo-github"></li>
            </ul>
        </div>
    </div>
</footer>
<script src="app.js"></script>
<script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
