<nav>
    <div class="logo">
        <ion-icon name="tv"></ion-icon>
        <h3>my<span>TV</span></h3>
    </div>
    <ul>
        <li>Trending</li>
        <li>Movies</li>
        <li>Tv Shows</li>
        <li>Kids</li>
        <li>Coming</li>
    </ul>
    <ul>
        <li>
            <div class="searchBar">
                <ion-icon id="search" name="search"></ion-icon>
                <div class="input">
                  <input type="text" placeholder="search" id="mySearch">
                </div>
                <div class="cross"><ion-icon name="close"></ion-icon></div>
            </div>
        </li>
        <li>
            <div class="profile"><ion-icon id="profile" name="person-outline"></ion-icon></div></ion-icon>
        </li>
    </ul>
</nav>

