<nav>
    <div class="logo">
        <ion-icon name="tv"></ion-icon>
        <h3>my<span>TV</span></h3>
    </div>
    <ul>
        <li>Trending</li>
        <li>Movies</li>
        <li>Tv Shows</li>
        <li>Kids</li>
        <li>Coming</li>
    </ul>
    <ul>
        <li><ion-icon id="search" name="search"></ion-icon></li>
        <li><ion-icon id="profile" name="person-outline"></ion-icon></li>
    </ul>
</nav>