<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
    <body>
        <%- include("./partials/nav.ejs")%>
        <div class="preview">
            <div class="action">
                <div class="title"><span>Avengers</span>The Ultimate Heroes</div>
                <div class="btn">
                    <button>
                        <span><ion-icon name="play-circle"></ion-icon>Play Now</span>
                    </button>
                    <button>More Information</button>
                </div>
            </div>
            <div class="poster">
                <img src="images/poster3.jpg" alt="" />
            </div>
        </div>
        <%- include("./partials/footer.ejs")%>
    </body>
</html>
