<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs")%>
    <body>
        <%- include("./partials/nav.ejs")%>
        <div class="form_container signup">
            <div>
                <form id="login-form" action="" method="">
                    <div>
                        <label for="email">username or email</label>
                        <input type="" name="email" id="" placeholder="name@gmail.com" required/>
                    </div>
                    <div>
                        <label for="password">password</label>
                        <input type="password" name="password" id="password" placeholder="password" required/>
                        <ion-icon id="toggle_visibility" name="eye"></ion-icon>
                    </div>
                    
                    <div>
                        <button type="submit" id="form_btn"><ion-icon name="log-in-outline"></ion-icon>Login</button>
                        <p>Don't have an account? <span id="signup-link">Create account</span></p>
                    </div>
                </form>
                
                <form id="signup-form" action="/signupForm" method="POST">
                    <div>
                        <label for="name">username</label>
                        <input type="name" name="name" id="" placeholder="John Doe" required/>
                    </div>
                    <div>
                        <label for="email">email</label>
                        <input type="email" name="email" id="" placeholder="name@gmail.com" required/>
                    </div>
                    <div>
                        <label for="password">password</label>
                        <input type="password" name="password" id="password" placeholder="password" required/>
                        <ion-icon id="toggle_visibility" name="eye"></ion-icon>
                    </div>
                    <div>
                        <label for="password">confirm password</label>
                        <input type="password" name="cPassword" id="cPassword" placeholder="confirm password" required/>
                    </div>
                    <span id="passwordMatch"></span>
                    <div>
                        <button type="submit" id="form_btn">Create Account</button>
                        <p>Already have an account? <span id="login-link">Login</span></p>
                    </div>
                </form>
            </div>
        </div>
        <%- include("./partials/footer.ejs")%>
    </body>
</html>
