.form_container::before {
    content: "";
    position: absolute;
    height: 95vh;
    width: 50vw;
    background: #ff0000;
    top: 5em;
    left: 0;
    border-radius: 63% 15% 48% 0% / 17% 13% 66% 0%;
}

.form_container {
    display: flex;
    justify-content: center;
    padding: 3.5em 2em;
    text-transform: capitalize;
    min-height: 80vh;
    transition: 0.5s;
}

.form_container div {
    position: relative;
    z-index: 1;
}
.form_container form button,
.form_container h2,
.head h2 a,
.container h2 {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 0.5em;
    color: #fff;
    text-shadow: 1px 1px 3px #333;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.form_container button ion-icon {
    /* margin-right: 0.5em; */
    font-size: 1.7em !important;
}

.form_container form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    width: 400px;
    background: #eee;
    backdrop-filter: blur(10px);
    padding: 2em;
    border-radius: 5px;
    animation: fadeAnimation 0.5s ease-in-out;
}

.form_container form div > * {
    display: block;
}

.form_container form input,
.form_container form textarea,
.form_container form button {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1em;
    border: none;
    outline: none;
    box-shadow: 3px 3px 5px #999999d0;
    background: #fff;
}

.form_container.signup form input,
.form_container.signup form textarea,
.form_container.signup form button {
    margin-bottom: 0.5em;
}

.form_container form label {
    color: #333;
    font-size: 1.1em;
}

.form_container form label span {
    font-size: 0.8em;
    color: #666;
}

.form_container form p {
    margin-top: 0.7em;
    text-align: center;
    font-size: 0.9em;
}

.form_container form p span {
    padding-left: 0.5em;
    color: rgb(85, 14, 226);
    cursor: pointer;
    text-decoration: underline;
}

#f_submit,
#form_btn {
    background: #ff0000;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0;
}

#f_submit:hover,
#form_btn:hover {
    box-shadow: none;
}

#signup-form {
    display: none;
}

#passwordMatch {
    display: block;
    font-size: 14px;
  }

#toggle_visibility {
    position: absolute;
    right: 1em;
    top: 55%;
    font-size: 1.2em;
    cursor: pointer;
}
@keyframes fadeAnimation {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
